@page
@model FileHosting.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form method="post">
    <div class="mb-3">
        <label asp-for="Input.Email" class="form-label"></label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="ReturnUrl" />

    <button type="submit" class="btn btn-primary">Sign in</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}